{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>
            London
        </h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis temporibus obcaecati fuga est sequi quos dignissimos, illum adipisci iure facere, beatae nesciunt a non aperiam neque! Dolorem aperiam sit amet?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/image.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}